---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [92]:
import pandas as pd
import numpy as np
x=3
doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc, name="foo")
df.head(5)

0    03/25/93 Total time of visit (in minutes):\n
1    6/18/85 Primary Care Doctor:\n
2    sshe plans to move as of 7/8/71 In-Home Services: None\n
3    7 on 9/27/75 Audit C Score Current:\n
4    2/6/96 sleep studyPain Treatment Pain Level (Numeric Scale): 7\n
Name: foo, dtype: object

In [93]:
def date_sorter(): 
    #cleanup typos
    df[370]= df[370].replace('4 (9/1975)','4/9/1975 ')
    
    #04/20/2009; 04/20/09; 4/20/09; 4/3/09
    ans = df.str.extractall(r'(?P<Month>\d{1,2})[/-](?P<Day>\d{1,2})[/-](?P<Year>\d{2,4})')
    ans = ans.query('match == 0')
    not_duplicated = ~df.index.isin([index[0] for index in ans.index])
    
    #Verified Mar 20, 2009;  Mar 20 2009; Mar. 20, 2009;March 20, 2009;
    ans = ans.append(df[not_duplicated].str.extractall(r'(?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[a-z\s,.-]*(?P<Day>\d{1,2})[-\s,]*?\s(?P<Year>\d{4})'))
    not_duplicated = ~df.index.isin([index[0] for index in ans.index])
    
    #20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
    ans = ans.append(df[not_duplicated].str.extractall(r'(?P<Day>\d{1,2})[\s](?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[a-z,.\s]*(?P<Year>\d{4})'))
    not_duplicated = ~df.index.isin([index[0] for index in ans.index])
    
    #Feb 2009; Sep 2009; Oct 2010
    ans = ans.append(df[not_duplicated].str.extractall(r'(?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[a-z.,\s]*(?P<Year>(?:19|20)\d{2})'))
    not_duplicated = ~df.index.isin([index[0] for index in ans.index])
    
    #6/2008; 12/2009
    ans = ans.append(df[not_duplicated].str.extractall(r'(?:[\sA-Za-z-]|^|A-Z|a-z)(?P<Month>\d{1,2})/(?P<Year>\d{4})'))
    not_duplicated = ~df.index.isin([index[0] for index in ans.index])
    
    #2009; 2010
    ans = ans.append(df[not_duplicated].str.extractall(r'(?P<Year>(?:19|20)\d{2})'))
    not_duplicated = ~df.index.isin([index[0] for index in ans.index])
    
    #replace NaN Day and Month with 1
    ans['Day'].fillna(1, inplace=True)
    ans['Month'].fillna(1, inplace=True)

    # Year - change 86 to 1986
    ans['Year'] = ans['Year'].apply(lambda x: '19' + x if len(x) == 2 else x)

    # Month change 05 to 5
    ans['Month'] = ans['Month'].apply(lambda x: x[1:] if type(x) is str and x.startswith('0') else x)

    month_dict = {'Jan': 1, 'January': 1,'Feb': 2,'February': 2, 'Mar': 3, 'March': 3, 'Apr': 4, 'April': 4, 'May': 5, 'May,': 5, 'Jun': 6, 'June': 6, 'Jul': 7, 'July': 7, 'Aug':8, 'August': 8, 'Sep': 9, 'September': 9, 'Oct': 10,'October': 10, 'Nov': 11, 'November': 11,'Dec': 12, 'December': 12}
        
    ans = ans.replace(month_dict)

    ans['Month'] = ans['Month'].apply(lambda x: str(x))
    ans['Day'] = ans['Day'].apply(lambda x: str(x))
    ans['Year'] = ans['Year'].apply(lambda x: str(x))
    ans['Date'] = ans['Month'] + '/' + ans['Day'] + '/' + ans['Year']
    ans['Date'] = pd.to_datetime(ans['Date'])
    ans = ans.sort_values(by='Date')
    rank = pd.Series(list(ans.index.labels[0]))
    return rank

In [94]:
#helper snippets
#pd.set_option('display.max_colwidth', -1)
#df.iloc[[25,39,40, 71, 72]]
#date_sorter()
df[370]= df[370].replace('4 (9/1975)','4/9/1975 ')
df[370]

"4/9/1975 Patient's thoughts about current substance abuse:\n"

In [95]:
#junk
#df.str.extractall(r'(?P<Date>\d{1,2}/\d{1,2}/\d{2,4})')
#df_ans = df['text'].str.extractall(r'(?P<month>\d?\d)[/|-](?P<day>\d?\d)[/|-](?P<year>\d{4})')
#df.str.extractall(r'(?P<month>\d?\d)[/|-](?P<day>\d?\d)[/|-](?P<year>\d{4})')
#df.str.extractall(r'((?P<Day>\d{2,4})? (?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]* (?:\d{2,4} )?\d{4}?)')
#df.str.extractall(r'((?P<Day>\d{2,4})? (?P<Month>Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*  (?:\d{2,4})')
#df.str.extractall(r'(?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*)[\s,.-]?(?P<Day>\d{1,2})[-\s,]*?\s(?P<Year>\d{4})')

In [96]:
#04/20/2009; 04/20/09; 4/20/09; 4/3/09
#df.str.extractall(r'(\d{1,2}/\d{2}/\d{4})')
ans = df.str.extractall(r'(?P<Month>\d{1,2})[/-](?P<Day>\d{1,2})[/-](?P<Year>\d{2,4})')
ans = ans.query('match == 0')
not_duplicated = ~df.index.isin([index[0] for index in ans.index])
ans

          Month Day  Year
    match
0   0      03    25  93
1   0      6     18  85
2   0      7     8   71
3   0      9     27  75
4   0      2     6   96
5   0      7     06  79
6   0      5     18  78
7   0      10    24  89
8   0      3     7   86
9   0      4     10  71
10  0      5     11  85
11  0      4     09  75
12  0      8     01  98
13  0      1     26  72
14  0      5     24  1990
15  0      1     25  2011
16  0      4     12  82
17  0      10    13  1976
18  0      4     24  98
19  0      5     21  77
20  0      7     21  98
21  0      10    21  79
22  0      3     03  90
23  0      2     11  76
24  0      07    25  1984
25  0      4     13  82
26  0      9     22  89
27  0      9     02  76
28  0      9     12  71
29  0      10    24  86
...       ..     ..  ..
96  0      7     18  86
97  0      3     31  91
98  0      5     13  72
99  0      11    14  83
100 0      8     16  92
101 0      10    05  97
102 0      07    18  2002
103 0      9     22  82
104 0      2     24  74
105 0      2     03  78
106 0      2     11  2006
107 0      8     22  83
108 0      5     04  74
109 0      7     20  2011
110 0      6     17  95
111 0      6     10  72
112 0      10    16  82
113 0      12    15  92
114 0      12    8   97
115 0      4     05  89
116 0      12    04  87
117 0      6     20  77
118 0      4     27  2006
119 0      07    17  92
120 0      12    22  98
121 0      10    02  96
122 0      11    05  90
123 0      5     04  77
124 0      2     27  96
370 0      4     9   1975

[126 rows x 3 columns]

In [97]:
#Verified Mar 20, 2009;  Mar 20 2009; Mar. 20, 2009;March 20, 2009;
ans = ans.append(df[not_duplicated].str.extractall(r'(?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[a-z\s,.-]*(?P<Day>\d{1,2})[-\s,]*?\s(?P<Year>\d{4})'))
not_duplicated = ~df.index.isin([index[0] for index in ans.index])
np.sum(not_duplicated), len(not_duplicated)

(344, 500)

In [98]:
#20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
#ans = ans.append(df[not_duplicated].str.extractall(r'(?P<Day>\d{1,2})[\s](?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z,.]*)[\s](?P<Year>\d{4})'))
ans = ans.append(df[not_duplicated].str.extractall(r'(?P<Day>\d{1,2})[\s](?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[a-z,.\s]*(?P<Year>\d{4})'))
not_duplicated = ~df.index.isin([index[0] for index in ans.index])
np.sum(not_duplicated), len(not_duplicated)

(275, 500)

In [99]:
#no instances exist: Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009; Mar-20-2009;

In [100]:
#Feb 2009; Sep 2009; Oct 2010
ans = ans.append(df[not_duplicated].str.extractall(r'(?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))[a-z.,\s]*(?P<Year>(?:19|20)\d{2})'))
#ans = ans.append(df[not_duplicated].str.extractall(r'^(?:!\d\d\s)*(?P<Month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z,.]*)\s(?P<Year>(?:19|20)\d{2})'))
not_duplicated = ~df.index.isin([index[0] for index in ans.index])
#6/2008; 12/2009
ans = ans.append(df[not_duplicated].str.extractall(r'(?:[\sA-Za-z-]|^|A-Z|a-z)(?P<Month>\d{1,2})/(?P<Year>\d{4})'))
check = ans
not_duplicated = ~df.index.isin([index[0] for index in ans.index])
#2009; 2010
ans = ans.append(df[not_duplicated].str.extractall(r'(?P<Year>(?:19|20)\d{2})'))
not_duplicated = ~df.index.isin([index[0] for index in ans.index])
np.sum(not_duplicated), len(not_duplicated)
#[i for i, x in enumerate(not_duplicated) if x]
ans[300:400]

           Day Month  Year
    match
303 0      NaN  Jan   1977
304 0      NaN  Mar   2002
305 0      NaN  Feb   2000
306 0      NaN  May   2004
307 0      NaN  Jul   2006
308 0      NaN  Feb   1994
309 0      NaN  Apr   1977
310 0      NaN  Oct   1992
311 0      NaN  Feb   1995
312 0      NaN  Feb   1989
313 0      NaN  Dec   1978
314 0      NaN  Jan   2007
315 0      NaN  Jun   1976
316 0      NaN  May   2011
317 0      NaN  Mar   1975
318 0      NaN  Jan   1978
319 0      NaN  Jul   1975
320 0      NaN  Nov   2012
321 0      NaN  Jun   1999
322 0      NaN  Oct   1991
323 0      NaN  Mar   1973
324 0      NaN  Oct   1996
325 0      NaN  Jun   2007
326 0      NaN  Oct   1995
327 0      NaN  Apr   1999
328 0      NaN  May   2001
329 0      NaN  Mar   2000
330 0      NaN  Apr   1988
331 0      NaN  Dec   1993
332 0      NaN  Jun   1974
...        ...  ...    ...
375 0      NaN  06    1973
376 0      NaN  2     1999
377 0      NaN  6     2001
378 0      NaN  12    1978
379 0      NaN  8     2009
380 0      NaN  7     1973
381 0      NaN  1     2014
382 0      NaN  09    1975
383 0      NaN  12    2012
384 0      NaN  5     1999
385 0      NaN  7     1989
386 0      NaN  7     2009
387 0      NaN  11    1998
388 0      NaN  3     1995
389 0      NaN  2     2009
390 0      NaN  08    1988
391 0      NaN  4     2007
392 0      NaN  5     2000
393 0      NaN  4     2012
394 0      NaN  10    2001
395 0      NaN  2     1977
396 0      NaN  8     2008
397 0      NaN  2     1983
398 0      NaN  5     1979
399 0      NaN  1     1992
400 0      NaN  11    2008
401 0      NaN  12    2014
402 0      NaN  4     1974
403 0      NaN  10    1981
404 0      NaN  10    1986

[100 rows x 3 columns]

In [101]:
#replace NaN Day and Month with 1
ans['Day'].fillna(1, inplace=True)
ans['Month'].fillna(1, inplace=True)

# Year - change 86 to 1986
ans['Year'] = ans['Year'].apply(lambda x: '19' + x if len(x) == 2 else x)

# Month change 05 to 5
ans['Month'] = ans['Month'].apply(lambda x: x[1:] if type(x) is str and x.startswith('0') else x)

month_dict = {'Jan': 1, 'January': 1,'Feb': 2,'February': 2, 'Mar': 3, 'March': 3, 'Apr': 4, 'April': 4, 'May': 5, 'May,': 5, 'Jun': 6, 'June': 6, 'Jul': 7, 'July': 7, 'Aug':8, 'August': 8, 'Sep': 9, 'September': 9, 'Oct': 10,'October': 10, 'Nov': 11, 'November': 11,'Dec': 12, 'December': 12}
    
ans = ans.replace(month_dict)

ans['Month'] = ans['Month'].apply(lambda x: str(x))
ans['Day'] = ans['Day'].apply(lambda x: str(x))
ans['Year'] = ans['Year'].apply(lambda x: str(x))
ans['Month'] = ans['Month'].replace({',':''}, regex=True)
ans['Date'] = ans['Month'] + '/' + ans['Day'] + '/' + ans['Year']
ans['Date'] = pd.to_datetime(ans['Date'])
ans = ans.sort_values(by='Date')
rank = pd.Series(list(ans.index.labels[0]))
ans

          Day Month  Year       Date
    match
9   0      10  4     1971 1971-04-10
84  0      18  5     1971 1971-05-18
2   0      8   7     1971 1971-07-08
53  0      11  7     1971 1971-07-11
28  0      12  9     1971 1971-09-12
474 0      1   1     1972 1972-01-01
153 0      13  1     1972 1972-01-13
13  0      26  1     1972 1972-01-26
129 0      06  5     1972 1972-05-06
98  0      13  5     1972 1972-05-13
111 0      10  6     1972 1972-06-10
225 0      15  6     1972 1972-06-15
31  0      20  7     1972 1972-07-20
171 0      04  10    1972 1972-10-04
191 0      30  11    1972 1972-11-30
486 0      1   1     1973 1973-01-01
415 0      1   2     1973 1973-02-01
335 0      1   2     1973 1973-02-01
36  0      14  2     1973 1973-02-14
323 0      1   3     1973 1973-03-01
405 0      1   3     1973 1973-03-01
422 0      1   4     1973 1973-04-01
375 0      1   6     1973 1973-06-01
380 0      1   7     1973 1973-07-01
345 0      1   10    1973 1973-10-01
57  0      01  12    1973 1973-12-01
214 0      1   1     1974 1974-01-01
481 0      1   1     1974 1974-01-01
436 0      1   2     1974 1974-02-01
104 0      24  2     1974 1974-02-24
...       ..  ..      ...        ...
220 0      25  6     2012 2012-06-25
243 0      1   9     2012 2012-09-01
208 0      01  9     2012 2012-09-01
139 0      21  10    2012 2012-10-21
320 0      1   11    2012 2012-11-01
383 0      1   12    2012 2012-12-01
480 0      1   1     2013 2013-01-01
198 0      1   1     2013 2013-01-01
244 0      1   1     2013 2013-01-01
286 0      1   1     2013 2013-01-01
431 0      1   4     2013 2013-04-01
279 0      1   9     2013 2013-09-01
381 0      1   1     2014 2014-01-01
463 0      1   1     2014 2014-01-01
366 0      1   7     2014 2014-07-01
255 0      1   10    2014 2014-10-01
439 0      1   10    2014 2014-10-01
401 0      1   12    2014 2014-12-01
475 0      1   1     2015 2015-01-01
257 0      1   9     2015 2015-09-01
152 0      28  9     2015 2015-09-28
235 0      1   10    2015 2015-10-01
464 0      1   1     2016 2016-01-01
253 0      1   2     2016 2016-02-01
427 0      1   5     2016 2016-05-01
231 0      1   5     2016 2016-05-01
141 0      30  5     2016 2016-05-30
186 0      13  10    2016 2016-10-13
161 0      19  10    2016 2016-10-19
413 0      1   11    2016 2016-11-01

[500 rows x 4 columns]

In [102]:
ans.to_csv ('ans.csv', header=True)
df.to_csv('df.csv',header=True)

In [103]:
ans.loc[313]

      Day Month  Year       Date
match
0      1   12    1978 1978-12-01